# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objetives:**
- List popular languages for Data Science.
- Understand the basics of Jupyter Notebooks.
- Explore common libraries used in Data Science.
- Practice writing Python code in Jupyter.
- Learn to visualize data using matplotlib and seaborn.

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Seaborn

### Development environment open source tools used in data science:

|Data Science Tools|
|------------------|
|Jupyter Notebook  |
|Rstudio           |
|Apache Zeppelin   |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [19]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [27]:
# This will convert 200 minutes to hours by diving by 60
x = 200
y = x/60
print(y)

3.3333333333333335

## Author

Mateo Balanta